$galaxy_1: #1b3984;
$galaxy_2: #4e6cb7;
$galaxy_3: #ff6030;

$skin_1: #fe7f9c;
$skin_2: #fa92aa;
$testing: #46bddb;

html,
body,
#root
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

canvas
{
    touch-action: none;
}

%modelButton
{
    border: 2px;
    border-radius: 5px;
    color: white;
    padding: 12px 24px;
    font-size: 16px;
    transition-duration: 0.4s;
    cursor: pointer;
}
.blueButton button
{
    @extend %modelButton;
    background-color: $galaxy_1;
    &:hover { background-color: $galaxy_2; }
}
.pinkButton button
{
    @extend %modelButton;
    background-color: $skin_1;
    &:hover { background-color: $skin_2; }
}

.games img
{
    width: 900px;
    height: 700px;
    border: none;
    border-radius: 60px;
}
.aboutMe iframe
{
    width: 1000px;
    height: 720px;
    border: none;
}